{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="styles.css">
    <div class = "container">
        <h1>Take Our Expert-Designed <span class = "highlight">GIAS 2024</span> Rediness Assessment</h1>
        <p>Are you ready for Global Internal Audit Standards 2024?</p>
        <p>GIAS 2024 offers an opportunity for Internal Auditors to take their functions to the next level.
            Key four domains within which actions need to be taken are Values, Stakeholder Management, Methodology & Resource Management.
            Take Our Free Internal Audit Survey and Uncover Hidden Gaps!
            See where your audit function stands in comparison to global standards and best practices. You will be provided with score in each domain and specific action steps that will help you move forward.</p>
        <h5>What you'll gain:</h5>
        <ul>
            <li><span class="highlight1">Identify hidden gaps</span><span>:Uncover weaknesses in your internal audit processes that may be holding you back.</span></li>
            <li><span class = "highlight1">Benchmark your audit function</span><span>:See how your team stacks up against global standards and Identify areas of improvement.</span></li>
            <li><span class = "highlight1">Actionable Insights</span><span>:Get tailored recommendations to enchance your internal audit framework and boost compliance and risk management.</span></li>
        </ul>
        <button id = "submit" class="start-survey-btn custom-btn">Start Assessment
            <script>
                document.getElementById("submit").addEventListener("click", function() {
                    window.location.href = "/start";
                });
            </script>
        </button>
    </div>
    <style>
        .highlight1{
            font-weight: bold;
        }
        .highlight{
            color: #FF5508;
        }

        h5{
            font-weight: bold;
            font-size: 15px;
        }
        h1{
            width: 1183px
            height: 127px
            font-size: 35px;
            font-family: 'lato',sans-serif;
            font-weight: bold;
        }
        h2{
            font-family: 'lato',sans-serif;
        }
        
        body {
            font-family: "lato", sans-serif;
            margin: 0;
            padding: 0;
            background-color: #FAF9F6;
        }
        
        .container {
            max-height: 1000px;
            max-width: 900px;
            margin: 40px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        
        p {
            margin-bottom: 30px;
        }
        
        ul {
            margin-top: 20px;
            list-style-type: disc;
            padding: 0;
        }
        
        li {
            margin-bottom: 10px;
            font-size: 15px
            margin-right: 30px
        }
        button.start-survey-btn.custom-btn {
            display: block;
            margin: 20px auto 0;
            padding: 10px 20px;
            background-color: #FF5508;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 200px;
            height: 50px;
            font-size: 18px;
        }
        #submit:hover{
            background-color: #e64c00; /* Darker orange on hover */
            transform: scale(1.05); /* Slightly enlarge button on hover */
        }
    </style>
    
{% endblock %}

