{% extends "layout.html" %}

{% block title %}
    Questions
{% endblock %}

{% block content %}

    <div class = "container">
        <form id = "question1" action = "/questions" method = "post">
            <fieldset>
                <legend>Who is the goat of Beyblade?</legend>
            </fieldset>
            <div>
                <input type = "radio" id = "Ryuga" name = "Option1" value = "Ryuga">
            </div>
            <div>
                <input type = "radio" id = "Ginga" name = "Option2" value = "Ginga">
            </div>
            <div>
                <input type = "radio" id = "Centa" name = "Option3" value = "Centa">
            </div>
            <div>
                <input type = "radio" id = "Kyoya" name = "Option4" value = "Kyoya">
            </div>

            <button type = "submit">Next</button>

        </form>
    </div>

{% endblock %}

